{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
	<h1>登录</h1>
	<p>输入用户名/密码</p>
	<form class="form-horizontal" action="{% url 'account:user_login' %}" method="post">
		{% csrf_token %}
		<!-- {{ form.as_p }} -->
		<div class="form-group">
			<label for="{{ form.username.id_for_label }}" class="col-md-5 control-label" style="color:red"><span class="glyphicon glyphicon-user"></span>用户名</label>
			<div class="col-md-6 text-left">{{ form.username }}</div>
		</div>
		<div class="form-group">
			<label for="{{ form.password.id_for_label }}" class="col-md-5 control-label" style="color:blue"><span class="glyphicon glyphicon-floppy-open"></span>密码</label>
			<div class="col-md-6 text-left">{{ form.password }}</div>
		</div>
		<input type="submit" value="登录">
	</form>
    <p style="margin-top:10px">忘记密码？ <a href="{% url 'pwd_reset:password_reset_recover' %}">重置密码</a></p>
    <p style="margin-top:10px">如果没有用户名，请<a href="{% url 'account:user_register' %}">注册用户</a></p>
</div>
{% endblock %}
