{% extends "base.html" %}

{% block title %}重置密码{% endblock %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>重置密码</h1>
    <p>请输入2次新密码</p>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label class='col-md-5 control-label text-right'>新密码</label>
            <div class="col-md-6 text-left">{{ form.new_password1 }}</div>
        </div>
        <div class="form-group">
            <label class='col-md-5 control-label text-right'>确认新密码</label>
            <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
        </div>
        <input type="submit" value="修改密码" class="btn btn-primary btn-lg" />
    </form>
</div>
{% endblock %}

