{% extends "base.html" %}
{% block title %}重置密码{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>忘记密码？你可以在此重置密码</h1>
    <p>输入邮箱地址</p>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">邮箱</label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        <input type="submit" value="发送重置邮件" class="btn btn-primary btn-lg">
    </form>
</div>
{% endblock %}

