{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ article.title }} - Django开发学习实战{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
	<h1>{{ article.title }}</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-8">
		<p class="text-center"><span>{{ article.author.username }}</span><span style="margin-left: 20px">{{ publish }}1</span></p>
		<div>{{ article.body }}</div>
	</div>
	<div class="col-xs-6 col-md-4">
		<h2>广告</h2>
		<p>跟老齐学Django开发</p>
		<img width="200px" src="{% static '/images/book.jpg' %}">
	</div>
</div>
{% endblock %}